@media only screen and (max-width: 680px) {
  body {
    padding: 0 0;
    margin: 0 0;
  }

  header .logo {
    display: none;
  }

  header .desktop {
    display: none;
  }

  nav.mobile {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  section.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .banner_img-container {
    width: 100%;
  }

  .practicing_main-container1 {
    display: none;
  }

  .practicing_sub-container1 .img-mobile {
    display: inherit;
  }

  .practicing_sub-container1 .img-desktop {
    display: none;
  }

  .box1 {
    display: flex;
    flex-direction: column;
  }

  .box1_img-container {
    height: auto;
    min-width: 100%;
  }
  .box1_text-container {
    padding: 10px 30px;
    min-width: 100%;
  }
  .learning-desktop {
    display: none;
  }
  .learning-mobile {
    display: inherit;
    display: flex;
    flex-direction: column;
    padding: 0 0 32px 24px;
  }
  .learning-mobile span {
    padding: 10px;
    margin: 10px;
    font-size: 1.3rem;
    background-color: whitesmoke;
    width: 80%;
  }

  .sub-container3 {
    display: none;
  }

  .main-container3 {
    width: 100%;
  }
/* 
  .main-container {
    min-width: 100%;
    height: auto;
  }
  .main-container3 h1,
  p {
    display: none;
  }
  .main-container video {
    min-width: 100%;
  } */
}
